.brochure_div{
    background: url(/public/images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    padding: 65px 0;
}

.brochure_div h3{
    color: #FF9902;
    font-family: Raleway-Bold;
}

.brochure_div p{
    font-family: Raleway-Regular;
    font-size: 1.3vmax;
    font-size: 20px;
}

.brochure_div button{
    background-color: #FF9902;
    padding: 7px 30px;
    color: #121212;
    border: none;
    border-radius: 10px;
    font-family: Raleway-Bold;
}

@media screen and (max-width: 780px) {
    .brochure_div p{
        font-size: 3vmax;
    }
}