footer{
    height: 400px;
    padding: 20px;
    border-top: 1px solid hsla(0,0%,100%,0.1);
    background-color: #000;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: Raleway-Regular;
}

.footer_div h5{
    text-align: left;
}

.footer_div{
    padding: 2% 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigate, .links, .reach_us{
    width: 30%;
}

.footer_div ul{
    padding-left: 0;
}

.footer_div ul li{ 
    text-decoration: none;
    padding: 10px;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #262c44;
}

.footer_div ul a{
    text-decoration: none;
    color: #f1f1f1;
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    font-family: Raleway-Regular;
}

.footer_div ul i{
    font-size: 17px; 
    padding: 0; 
    margin: 0;
    height: 0;
    line-height: 1;
    color: #f1f1f1;
}

.footer_div h5{
    border-bottom: 2px solid #ff8f05;
    padding-bottom: 5px;
    margin: 0;
    font-family: Poppins-Semibold;
    color: white;
}

.reach_us i
{
    font-size: 17px;
    height: 0;
    line-height: 1;
}

.reach_us{
    text-align: left;
} 

.reach_us p{
    font-family: Raleway-Regular;
    color: #f1f1f1;
}

.socials{
    display: flex;
    flex-direction: row;
}

.socials h6 i{
    padding: 0 10px;
    font-size: 22px;
}

.socials h6 i:hover{
    color: #f69332;
}

.reach_us img{
    margin: 10px 0;
}

.socials a{
    text-decoration: none;
    color: #f1f1f1;
}

@media screen and (max-width: 700px) {
    .footer_div{
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .navigate, .links, .reach_us{
        width: 100%;
        margin-bottom: 10%;
    }

    .reach_us{
        margin-bottom: 0;
    }
    
    .footer{
        height: 100%;
    }
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

a:hover{
    color: #ff8f05;
}