*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00020A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: iceland;
  src: url(./components/fonts/Iceland-Regular.ttf);
}

@font-face {
  font-family: IBMPlexSansThaiLooped-Bold;
  src: url(./components/fonts/IBMPlexSansThaiLooped-Bold.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(./components/fonts/raleway.regular.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(./components/fonts/raleway.bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(./components/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./components/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./components/fonts/Poppins-Regular.ttf);
}

::-webkit-scrollbar { width: 5px;
}
::-webkit-scrollbar-track { background: #121212; border-radius: 50px;
}
::-webkit-scrollbar-thumb { background: gray; border-radius: 50px;
}



